<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Leadtools.ImageProcessing.Core.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.ImageProcessing.Effects.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Controls.WinForms.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Document.Writer.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Twain.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Annotations.Automation.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Annotations.Engine.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Ocr.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Annotations.WinForms.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Barcode.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Demos.Dialogs.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Drawing.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Forms.Common.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Forms.Processing.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Forms.Recognition.Barcode.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Forms.Recognition.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Forms.Recognition.Ocr.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Wia.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.WinForms.CommonDialogs.File.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Formats.Document.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Formats.Raster.Additional.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Formats.Raster.Camera.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Formats.Raster.Common.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Formats.Vector.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Jpeg2000.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Mrc.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.PdfCompressor.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Pdf.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Dicom.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Ocr.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Ocr.Languages.Main.NET" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Barcode" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.ImageProcessing.Utilities.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Svg.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Vector.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.ColorConversion.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.ImageProcessing.Color.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Annotations.Designers.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Annotations.BatesStamp.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Annotations.Rendering.WinForms.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Xps.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Xlx.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.OpenXml.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Xls.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Wmf.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Txt.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Rtf.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Pub.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Pst.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Ppx.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Ppt.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Mob.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Htm.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Dox.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Doc.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Image.Processing.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Cmw.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.J2k.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Jb2.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Jbg.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Cmp.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Gif.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Tif.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Raw.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Png.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Fax.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Bmp.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Kernel.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Drawing.MP.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Async.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.ImageProcessing.Kernel.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.ImageProcessing.SpecialEffects.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.X9f.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Jxr.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Jpm.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Jls.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Hdp.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Eps.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Wfx.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Tdb.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Clp.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Ani.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Tfx.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Sct.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Psd.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Mng.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Anz.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Sff.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Ptk.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Lmb.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Lma.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Ica.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Fit.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Cal.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Afp.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Abi.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Abc.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Xmp.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Flc.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Xwd.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Xpm.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Xbm.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Vff.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Tga.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Snp.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Smp.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Sgi.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Ras.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Pcx.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Msp.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Mac.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Itg.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Ing.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Img.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Iff.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Cut.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Wmp.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Pnm.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Fpx.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Dcr.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Dcf.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Cin.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Stl.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.3js.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Wpg.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Wmz.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Shp.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Pct.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Pcl.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Nap.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Mif.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Gbr.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.E00.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Dxf.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Dwg.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Dwf.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Drw.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Dgn.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Cmx.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Codecs.Cgm.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Pdf.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Dicom.Tables.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Dicom.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Dicom.Common.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Forms.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Forms.Commands.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Forms.Auto.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Forms.Recognition.Search.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Forms.Processing.Omr.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Document.Writer.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Annotations.Engine.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Barcode.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Barcode.Lead2DWrite.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Barcode.Lead2DRead.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Barcode.QrWrite.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Barcode.QrRead.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Barcode.PdfWrite.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Barcode.PdfRead.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Barcode.DatamatrixWrite.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Barcode.DatamatrixRead.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Barcode.OneD.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
  <package id="Leadtools.Ocr.LEADEngine.dll.NETFramework" version="20.0.0.4" targetFramework="net40" />
</packages>